
.about-container{
    margin-top: 5rem;
    height: 100vh; /* Onko 100vh hyvä vai pitäiskö pienentää*/
    width: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.about-header{
    margin-bottom: 2rem;
}

.about-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about-text {
    width: 500px;
}


.about-profile-image {
    width: 500px;
    height: 667px;
    margin-bottom: 3rem;
}
