
.about-container{
    height: 100%; /* Onko 100vh hyvä vai pitäiskö pienentää*/
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about-center-container{
    width: 90%;
    height: 100%;
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about-header{
    margin-bottom: 2rem;
}

.about-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about-text {
    margin-bottom: 1rem;
    max-width:500px;
}


.about-profile-image {
    max-width:600px;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 1100px){
    .secondary-header{
        font-size: 2rem;
    }
    .about-text:nth-last-child(1) {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 1000px){
    .secondary-header{
        font-size: 1.5rem;
    }


    .about-profile-image {
        max-width:400px;
        margin-bottom: 3rem;
    }


}

@media only screen and (max-width: 900px){
    .about-center-container{
        flex-direction: column-reverse;
        height: auto;
        gap: 0rem;
    }

    .about-profile-image {
        max-width:600px;
    }
    
}

@media only screen and (max-width: 700px){
    .about-center-container{
        width: 100%;
    }
    .about-text-container{
        width: 70%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .secondary-header{
        font-size: 1.5rem;
    }

    .about-profile-image{
        width: 70%;
    }
}


@media only screen and (max-width: 400px){
    .about-profile-image {
        max-width: 90%;
        height: auto;
    }

    .about-text{
        font-size: 0.8rem;
    }
}
