

.banner-container {
    background-color: var(--main-color);
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    background: linear-gradient( var(--main-color) 0%, var(--main-color) 60%,  var(--third-color)100%);
    /*    background: linear-gradient(var(--main-color), var(--fourth-color));
    Kysy kumpi parempi
*/
}

.banner-header-text {
    color: var(--fourth-color);
    letter-spacing: 2px;
    border-right: 2px solid var(--fourth-color);
}


.banner-text-name {
    color: var(--secondary-color);
}


.banner-sec-text {
    color: var(--fourth-color);
    border-right: 2px solid var(--fourth-color);
}


.name-done{
    border-right:none;
}


@media only screen and (max-width: 1180px){
    .main-header{
        font-size:3rem;
    }
}

@media only screen and (max-width: 870px){
    .banner-container {
        width: 100%;
        height: 60vh;
    }
}


@media only screen and (max-width: 715px){
    .main-header{
        font-size:2rem;
    }

    #banner-sec-text{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 490px){
    .main-header{
        font-size:1.5rem;
    }

    #banner-sec-text{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 377px){
    .main-header{
        font-size:1rem;
    }

    #banner-sec-text{
        font-size: 0.7rem;
    }
}