


.contact-container {
    width: 100%;
    background-color: var(--main-color);
    display:flex;
    flex-direction: column;
    align-items: center;
}


.contact-header{
    margin-top: 3rem;
}

.contact-text{
    margin-top: 1rem;
}

.contact-buttons{
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 15%;
    display:flex;
    justify-content: space-evenly;
}

.contact-buttons a{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.contact-buttons ion-icon{
    width: 50px;
    height: 50px;
}

.contact-buttons a:hover{
    cursor: pointer;
}

.linkedinLink:hover{
    background-color: #0072B1;
}

.mailLink:hover{
    background-color: var(--third-color);
}

.githubLink:hover{
    background-color: 	#4078c0;
}

@media only screen and (max-width: 1400px){
    .contact-buttons{
        width: 25%;
    }
}

@media only screen and (max-width: 870px){
    .contact-text{
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .contact-buttons{
        width: 40%;
        justify-content: space-evenly;

    }
}

@media only screen and (max-width: 560px){
    .contact-text{
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .contact-buttons{
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 50%;
    }

    .contact-header{
        margin-top: 2rem;
    }

}


@media only screen and (max-width: 400px){
    .contact-buttons{
        width: 80%;
    }

}