

.projects-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative; 
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom left, var(--main-color) 0%, var(--main-color) 80%,  var(--secondary-color)100%);

}

.projects-header{
    margin: 2rem 0 1rem 0;
}

.center-project {
    width: 60%;
    position:relative;
}

.image{
    width: 100%;

}

.nextButton{
    height: 100px;
    width: 50px;
    background-color: rgba(27, 27, 27, 0.076);
    border:none;
}

.nextButton ion-icon{
    color:var(--fourth-color);
    height: 100px;
    width: 50px;
}

.leftProjectButton {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.rightProjectButton {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.nextButton:hover {
    cursor: pointer;
}

.project-details {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.project-detail-title{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.project-detail-description{
    margin-bottom: 1rem;
}

.project-more-info-container{
    display:inline-flex;
    gap: 0.5rem;
}

.project-more-info{
    color: var(--third-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
}


.project-more-info:hover {
    cursor: pointer;
    color: var(--fourth-color);
}

.dont-show{
    display: none;
}

@media only screen and (max-width: 1100px){
    .center-project {
        min-width: none;
        width:  100%;
    }
}


@media only screen and (max-width: 400px){
    .project-detail-title{
        font-size: 1rem;
    }
    .project-detail-description{
        font-size: 0.8rem;
    }
    .project-more-info{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 340px){
    .project-more-info-container{
        flex-direction: column;
    }
    .project-more-info{
        margin-bottom: 0;
    }
    .or-text{
        margin: 0;
    }
}