
.small-project-container{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.small-project-main-header{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
}

.small-project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 555px;
    text-align: center;
}

.small-project > *:not(:last-child) {
    margin-bottom: 1rem;
}

.single-project-image{
    width: 100%;
    height: 300px;
}

.single-project-image2{
    width: 50%;
    height: 300px;
}

.small-project-desc{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
}

.single-project-title{
    margin-top: 0.3rem;
}

@media only screen and (max-width: 860px){
    .small-project-main-header{
        font-size: 2rem !important;
        margin-bottom: 1rem;
    }
}